#
# This file is part of Cisco Modeling Labs
# Copyright (c) 2019-2025, Cisco Systems, Inc.
# All rights reserved.
#

# Becoming a Hacker CML configuration for US East 1 (South Carolina)

#########
# Configs
#########
export TF_VAR_cfg_file="bah-config.yml"
#export TF_VAR_cfg_extra_vars=""

#########
# Google Cloud
#########
export SERVICE_ACCOUNT="bah-programmatic-access@gcp-asigbahgcp-nprd-47930.iam.gserviceaccount.com"
# BAH-programmatic-access OAuth2 Client ID
# https://console.cloud.google.com/auth/clients?project=gcp-asigbahgcp-nprd-47930
export OAUTH2_CLIENT_ID="344691804483-6qe8toekh0trb8a3hipistrueq8drah8.apps.googleusercontent.com"
export TF_VAR_proxy_token=`gcloud auth print-identity-token \
    --impersonate-service-account="$SERVICE_ACCOUNT" \
    --audiences="$OAUTH2_CLIENT_ID" \
    --include-email`

#########
# Secrets
#########

# On first use, run:
#conjur init -u https://conjur-prod.cisco.com -a cisco --force
# Choose: Secrets Manager Self-Hosted when prompted.
export CONJUR_APPLIANCE_URL="https://conjur-prod.cisco.com"
export CONJUR_ACCOUNT="cisco"
unset CONJUR_AUTHN_LOGIN
unset CONJUR_AUTHN_API_KEY
export CONJUR_AUTHN_TOKEN=$(curl -s -X POST \
  ${CONJUR_APPLIANCE_URL}/authn-gcp/${CONJUR_ACCOUNT}/authenticate \
  --header 'Content-Type: application/x-www-form-urlencoded' \
  --header 'Accept-Encoding: json' \
  --data-urlencode "jwt=`gcloud auth print-identity-token \
    --impersonate-service-account="$SERVICE_ACCOUNT" \
    --include-email \
    --audiences=conjur/${CONJUR_ACCOUNT}/host/sto/becomingahacker/bah-programmatic-access`")

